input,
textarea {
    background-color: whitesmoke;
    padding: 10px 20px;
    font-size: .9rem;
    width: 100%;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(1, 21, 0, 0.425);
}

input:focus,
textarea:focus {
    outline: none;
}

label,
legend {
    font-weight: 600;
    padding-top: 18px;
    padding-left: 4px;
    font-size: .9rem;
    color: black;
    width: 94%;
    margin: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

td,
th {
    padding: 14px;
}